{% extends 'base.html' %}

{% block title %}Kids Carpool - Go Green and Have Fun!{% endblock %}

{% block head %}

<link rel="stylesheet" type="text/css" href="/static/css/maps.css" />
<link rel="stylesheet" href="/static/css/user.css" />

<script src="/static/js/accept_deny_map.js"></script>

{% endblock %}

{% block body %}
 <h2> {{ login_user.household1 }}, interested carpoolers are: {{ request_user.household1 }} </h2>

<ul>
    {% for child in request_user_children %}
      <li>
        {{child.name}} {{child.grade}} 
      </li>
    {% endfor %}
  </ul> 

<div class = "map" id="accept_deny_map"></div>
  

<form id = "individual_request_form" action="/accept_deny_individual" method="POST"> 
  <br>
  <textarea id="request_note" name="request_note" rows="4" cols="50">
    Write any additional information here 
  </textarea><br>
    <input type ="submit" name="send_request" value="Accept">
    <input type ="submit" name="send_request" value="Deny">
</form> 

{% endblock %}


