{% extends 'base.html' %}

{% block title %}Kids Carpool - Go Green and Have Fun!{% endblock %}

{% block body %}


<div class="container">
    
       
    <form action="/user" method="POST"> 
        <div class="row">
        <img src="static/img/carpoolschool.jpg" class="img-fluid " alt="Responsive image">
        </div>
        <div class="form-group">
        <label> Username :
            <input type="email"
               class="form-control"
               placeholder="Enter email"
               name="username">
        </label>
        </div>

        <div class="form-group">
        <label>Enter Password :
            <input type="password"
                class="form-control"
                placeholder="Password"
                name="password">
        </label>
        </div>

        <button type="submit" class="btn btn-success" 
        name="action" value="login" >Login</button>
        
        <button type="submit" class="btn btn-outline-success" 
        name = "action" value = "newuser">New User</button>
        <br>
        <br>
        <p><strong>{{message}}</strong></p>

    </form>
</div>

{% endblock %}
