{% extends 'base.html' %}

{% block title %}Kids Carpool - Go Green and Have Fun!{% endblock %}

{% block head %}

<link rel="stylesheet" type="text/css" href="/static/css/maps.css" />
<link rel="stylesheet" href="/static/css/user.css" />

<script src="/static/js/display_map.js"></script>

{% endblock %}

{% block body %}
 <h2> You have {{number}} carpool buddies</h2>


<ul>
    {% for buddy in buddies %}
      <li>
        
        {{buddy.household1}} {{buddy.address_street}}  {{buddy.address_city}} {{buddy.phone_number}} {{buddy.email}} 
       
      </li>
    {% endfor %}
  </ul> 

<div class = "map" id="map"></div>
  


<form action="/search_filter_carpool" method="POST"> 
    <div class="search">   

      <input type="checkbox" id="search_smoking" name="search_smoking" value= 'YES'>
      <label for="search_smoking"> No Smoking</label>

      <input type="checkbox" id="search_pets" name="search_pets" value= 'YES'>
      <label for="search_option"> No Pets</label><br><br>

        <input type ="submit" name="search" value="Search for Carpool">
    </div>   
</form>   

<form action="/accept_deny_request" method="POST"> 
    <div class="search">   
        <input type ="submit" name="response" value="Accept Deny Request">
    </div>   
</form> 

{% endblock %}


