{% extends 'base.html' %}

{% block title %}Kids Carpool - Go Green and Have Fun!{% endblock %}

{% block head %}

<link rel="stylesheet" type="text/css" href="/static/css/maps.css" />
<link rel="stylesheet" href="/static/css/user.css" />

<script src="/static/js/display_map.js"></script>

{% endblock %}

{% block body %}
 
  {% if number > 0 %}
  <h5> You have a carpool buddy</h5>
  <ul>
    {% for buddy in buddies %}
      <li>
        <h5> {{buddy.household1}} is your carpool buddy. </h5>
        <h5> Address: {{buddy.address_street}}, {{buddy.address_city}}</h5> 
        <h5> Email:  {{buddy.email}}           Phone : {{buddy.phone_number}}  </h5>
      </li>
    {% endfor %}
  </ul> 
  {% endif %}
 
  {% if number == 0 %}
  <h5> You don't have a carpool buddy yet</h5>
  {% endif %}

  <div class = "map" id="map"></div>

  <!-- <ul>
    {% for buddy in buddies %}
      <li>
        {{buddy.household1}} {{buddy.address_street}}  {{buddy.address_city}} {{buddy.phone_number}} {{buddy.email}} 
      </li>
    {% endfor %}
  </ul>  -->

<form action="/all_carpoolers" method="POST"> 
  
    <div class="search">   
        <input type ="submit" name="search" value="Search for Carpool">
    </div>   
</form>   

<form action="/accept_deny_request" method="POST"> 
    <div class="search">   
        <input type ="submit" name="response" value="Accept Deny Request">
    </div>   
</form> 

{% endblock %}


